{% extends 'base.html' %}

{% block title_block %}
    Calendar
{% endblock %}

{% block body_block %}
    <div id="calendar"></div>

    {{ events|json_script:"events-data" }}
    <script>
        $(document).ready(function() {

            var events = JSON.parse(document.getElementById('events-data').textContent);
            console.log(events);
            $('#calendar').fullCalendar({
                events: events,
                eventClick: function(event) {
                    alert('Meeting: ' + event.title + 
                          '\nDate: ' + event.start.format('YYYY-MM-DD HH:mm') +
                          '\nLocation: ' + (event.location || 'No location'));
                },
                timeFormat: 'HH:mm',
            });
        });
    </script>

{% endblock %}

