{% extends 'base.html' %}
{% load static %}

{% block title_block %}
about
{% endblock %}

{% block body_block %}
	<div>
		<div>
			<h1 class="font-bold text-xl">about</h1>
			<p>eventio is the absolute.</p>
			<hr class="my-4">
			<p>We believe in connecting people through shared experiences. Whether you're looking for concerts, workshops, or community gatherings, Eventio makes it easy to find and create events that matter to you.</p>
		</div>
		<div>
			<h2 class="font-medium text-lg">author</h2>
			<p>This project was created by:</p>
			<ul>
				<li><a href="https://example.com/author1">Author 1</a></li>
				<li><a href="https://example.com/author2">Author 2</a></li>
			</ul>
		</div>
	</div>
{% endblock %}