{% extends 'dashboard/base.html' %}
{% block title_block %}Meetings{% endblock %}
{% block body_block %}
    <h1>Meetings</h1>
    <head>
    </head>
    <a href="{% url 'dashboard:calendar' %}">View Calendar</a>
    <a href="{% url 'meetings:create' %}">Create Meeting</a>
    {% for meeting in meetings %}
        <div>
            <h2>{{ meeting.description }}</h2>
            <p>{{ meeting.start_time }} - {{ meeting.end_time }}</p>
            <a href="{% url 'meetings:view' meeting.id %}">View</a>
            <a href="{% url 'meetings:edit' meeting.id %}">Edit</a>
        </div>
    {% endfor %}
    <script>
        function initMap() {
            var meetingData = JSON.parse('{{ meetings|safe }}'); 
            
    
            meetingData.forEach(meeting => {
                if (meeting.place__latitude && meeting.place__longitude) {
                    var position = { lat: meeting.place__latitude, lng: meeting.place__longitude };
                    
                }
            });
        }
    </script>
    
    <div id="map" style="height: 400px; width: 100%;"></div>
{% endblock %}
